@charset "UTF-8";

/* reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: #111;
    font-size: 14px;
    font-weight: bold;
}
a:hover {
    color: rgb(81, 128, 81);
}
ul {
    list-style: none;
}
/* reset  */
/* div#wrap start */
div#wrap {
    width: 580px;
    margin: 0 auto;
    border: 1px solid #999;
}
/* div#wrap end */
/* header start */
header#header {
    padding: 6px;
    background-color: #012219;
}
#header h1 {
    color: #a4b937;
    font-size: 28px;
    text-align: center;
    transform: scaleX(0.9);
}
#header h1 span:first-child {
    color: #e2e3a6;
    font-size: 70px;
}
#header h1 span:nth-child(2) {
    font-size: 38px;
}
#header h1 span:last-child {
    color: #a1a994;
    font-size: 54px;
}
/* header end */

/* main#main start */
/* nav#gnb start */
nav#gnb {
    width: 138px;
    height: 420px;
    padding: 20px;
    /* line-height: 24px; */
    background-color: #a4b59c;
    float: left;
}
#gnb li {
    line-height: 26px;
}
/* nav#gnb end */
/* div#contents start */
div#contents {
    width: 440px;
    float: right;
}
div#contents h2 {
    color: #bfb42f;
    font-size: 23px;
    font-family: 궁서체;
    font-weight: normal;
    padding: 8px;
    padding-left: 20px;
    background-color: #501903;
}
#contents p {
    text-align: justify;
    padding: 16px;
}
/* div#contents end */
/* main#main end */

/* footer#footer start */
footer#footer {
    font-size: 14px;
    padding: 13px;
    background-color: #889780;
    clear: both;
}
/* footer#footer end */
